/*Extra small devices (portrait phones, less than 576px)*/
/*No media query since this is the default in Bootstrap*/
/*xs*/



/*TEST TEST TEST TEST TEST TEST*/
/*END END END END END END END*/

/*Font Faces*/
    @font-face {
        font-family: logofont;
        src: url(../fonts/exo_2_black_italic.ttf);
    }
    
    @font-face {
        font-family: alegreya_sans_sc_medium;
        src: url(../fonts/alegreya_sans_sc_medium.ttf);
    }
    
    @font-face {
        font-family: alegreya_sans_medium;
        src: url(../fonts/alegreya_sans_medium.ttf);
    }
    
    /*@font-face {*/
    /*    font-family: advent_pro_light;*/
    /*    src: url(../fonts/advent_pro_extra_light.ttf);*/
    /*}*/
    
    /*@font-face {*/
    /*    font-family: advent_pro_bold;*/
    /*    src: url(../fonts/advent_pro_bold.ttf);*/
    /*}*/

/*Page*/

    .my-page-container{
        
    }

    .my-page-row{
        
    }

    /*layout-page-leftpan1*/
    .my-leftpan1-container{
        font-family:alegreya_sans_sc_medium;
        background-color:#2C3E50;
        color:#FDF3E7;
        
        /*col-sm-12*/
        -webkit-box-fless:0;
        -ms-flex:0 0 100%;
        flex:0 0 100%;
        max-width:100%;
        
        height:110px;
        overflow:hidden;
        
    }

         /*top left logo*/
        .my-leftpan1-logo{
            padding-top: 0px;
            padding-right: 27px;
            padding-bottom: 0px;
            padding-left: 15px;
            /*margin-top: -70px;*/
            margin-bottom: 0px;
            font-weight: bold;
            font-size: 40px;
            font-family: logofont;
            color: #ffffff;
            text-align: center;
        }
        
        .my-leftpan1-menu{
            overflow-x:auto;
            overflow-y:hidden;
            height:60px;
            flex-direction:row;
            white-space:nowrap;
            
        }
        
        .my-leftpan1-tab{
            background-color:#2C3E50;
            color: #FDF3E7;
            border: none;
            outline: 0;
            outline-style: none;
            text-align:center;
        }
        
        /* unvisited link */
        .my-leftpan1-tab:link {
            background-color:#2C3E50;
            color: #FDF3E7;
        }
        
         /*visited link */
        .my-leftpan1-tab:visited {
            background-color:#2C3E50;
            color: #FDF3E7;
        }
        
        /* mouse over link */
        .my-leftpan1-tab:hover {
            background-color:#2C3E50;
            color: #FFFFFF;
            font-weight:bold;
        }
        
        /* selected link */
        .my-leftpan1-tab.active{
            background-color:#DC3545;
            color: #FFFFFF;
            font-weight:bold;
        }
        

    /*layout-page-main*/
    .my-main-container{
        padding-right:0px;
        background-color: #fdfdff;
        color:#333;
        /*height:100vh;*/
        padding-left:0px;
        /*padding-left:247px;*/
        z-index:0;
    }
    
        
        /*layout-page-main-subpage*/
        .my-subpage-container{
            
        }
        
            /*/layout2*/
            .my-subpage-row{
                
            }
                .my-leftpan2-controller{
                    background-color:#31485e;
                    color:#FDF3E7;
                    flex:0 0 100%;
                }
                
                .my-leftpan2-container{
                    /*padding-left:0px;*/
                    /*padding-right:0px;*/
                    /*padding-top:30px;*/
                    background-color:#31485e;
                    color:#FDF3E7;
                    /*height:100vh;*/
                    /*width:247px;*/
                    /*position:fixed;*/
                    /*z-index:1;*/
                    
                    font-family:alegreya_sans_sc_medium;
                    
                    /*overflow-y: auto;*/
                    
                    /*border-left-width:1px;*/
                    /*border-left-style:solid;*/
                    /*border-left-color:#333;*/
                    /*border-right-width:1px;*/
                    /*border-right-style:solid;*/
                    /*border-right-color:#333;*/
                    
                    /*col-sm-12*/
                    -webkit-box-fless:0;
                    -ms-flex:0 0 100%;
                    flex:0 0 100%;
                    max-width:100%;
                    
                    top:55px;
                }
                
                
                    .my-leftpan2-menu{
                        
                    }
                    
                    .my-leftpan2-tab{
                        background-color:#31485e;
                        color:#FDF3E7;
                        font-size:13px;
                        border:none;
                        outline:0;
                        outline-style: none;
                    }
                    
                    /* Default State*/
                    .my-leftpan2-tab:link {
                        background-color:#31485e;
                        color: #FDF3E7;
                    }
                    
                     /*visited link */
                    .my-leftpan2-tab:visited {
                        background-color:#31485e;
                        color: #FDF3E7;
                    }
                    
                    /* mouse over link */
                    .my-leftpan2-tab:hover {
                        background-color:#31485e;
                        color: #FFFFFF;
                        font-weight:bold;
                    }
                    
                    /* selected link */
                    .my-leftpan2-tab.list-group-item.active{
                        /*background-color:#FDFDFF;  */
                        background-color:#31485e;
                        color: #FFFFFF;
                        font-weight:bold;
                    }
                
/*============================================*/
/*PAGE SPECIFIC ITEMS*/
/*============================================*/


/*HOME LEFTPAN2 PAGINATION*/
    .my-leftpan2-pagination{
        padding-left:20px;
    }
    
    .my-leftpan2-pagination .page-item, 
    .my-leftpan2-pagination .page-link, 
    .my-leftpan2-pagination .page-link:visited,
    .my-leftpan2-pagination .page-link:link{
        color: #FDF3E7;
        background-color:#31485e;
        border-color:#fff;
    }
    
    .my-leftpan2-pagination > .page-item.active > .page-link, 
    .my-leftpan2-pagination > .page-item:hover > .page-link{
        color: #31485e;
        background-color:#fff;
        border-color:#fff;
    }






    .my-subpage-content-container{
        padding-right:0px;
        background-color: #fdfdff;
        color:#333;
        /*height:100vh;*/
        /*padding-left:247px;*/
        padding-left:0px;
        z-index:0;
        
    }
    
    #id-home-content-scroll{
        /*height:100vh;*/
        overflow-y: hidden; 
        position:relative;
        text-align:justify;
        /*padding:40px;*/
        /*margin-left:40px;*/
        
    }
    
    .card-header{
        text-align:left;
    }

    .my-home-content-post-container{
        /*max-width:1000px;*/
        /*min-width:200px;*/
        /*padding-left:20px*/
    }
    
    

/*Small devices (landscape phones, 576px and up)*/
/*sm*/
@media (min-width: 600px) { 

    
}
