/*Extra small devices (portrait phones, less than 576px)*/
/*No media query since this is the default in Bootstrap*/
/*xs*/
@font-face {
    font-family: logofont;
    src: url(../fonts/exo_2_black_italic.ttf);
}

@font-face {
    font-family: advent_pro_light;
    src: url(../fonts/advent_pro_extra_light.ttf);
}

@font-face {
    font-family: advent_pro_bold;
    src: url(../fonts/advent_pro_bold.ttf);
}

@font-face {
    font-family: alegreya_sans_sc_medium;
    src: url(../fonts/alegreya_sans_sc_medium.ttf);
}

@font-face {
    font-family: alegreya_sans_medium;
    src: url(../fonts/alegreya_sans_medium.ttf);
}

html, body {
    background-color:#fdfdff;
    font-family:alegreya_sans_medium;
}


.viewport-background{
    /*height: 100vh;*/
}

/*LAYOUT LEFT PANEL*/
    
    /* unvisited link */
    .leftpan-tab:link {
        color: #FDF3E7;
        outline: 0;
    }
    
    /* visited link */
    /*.leftpan-tab:visited {*/
    /*    color: #FDF3E7;*/
    /*    outline: 0;*/
    /*}*/
    
    /* mouse over link */
    .leftpan-tab:hover {
        color: #FFFFFF;
        font-weight:bold;
        /*background-color:#37526d;*/
        outline: 0;
        border: none;
        -moz-outline-style: none;
    }
    
    /* selected link */
    /*.nav-link:active {*/
    /*    color: #FDF3E7;*/
    /*    outline: 0;*/
    /*    border: none;*/
    /*    -moz-outline-style: none*/
    /*}*/
    
    
    .nav-pills .nav-link.active, .nav-pills .show > .nav-link{
        /*background-color:#3a8de0;*/
        background-color:#DC3545;
        font-weight:bold;
        font-size-adjust:0.8;
        /*margin-top:10px;*/
        /*margin-bottom:10px;*/
    }
    
    
    .my-logo{
        padding-top:0px;
        padding-right:27px;
        padding-bottom:0px;
        padding-left:15px;
        margin-top:-70px;
        margin-bottom:-25px;
        font-weight:bold;
        font-size:156px;
        font-family:logofont;
        color:#ffffff;
    }
    
    .my-logo:hover{
        color:#ffffff;
    }
    
    
    
    .viewport-leftpanel{
        padding-left:0px;
        padding-right:0px;
        padding-top:30px;
        background-color:#2C3E50;
        color:#FDF3E7;
        height:100vh;
        width:247px;
        position:fixed;
        z-index:1;
        
        font-family:alegreya_sans_sc_medium;
    }

/*LAYOUT CONTENT*/
    .viewport-content{
        padding-right:0px;
        background-color: #fdfdff;
        color:#333;
        /*height:100vh;*/
        padding-left:247px;
        z-index:0;
    }
    
/*CONTENT LEFT PANEL*/

.content-leftpan{
    padding-left:0px;
    padding-right:0px;
    /*padding-top:0px;*/
    background-color:#31485e;
    color:#FDF3E7;
    height:100vh;
    width:247px;
    position:fixed;
    z-index:1;
    
    font-family:alegreya_sans_sc_medium;
}

.content-leftpan-item{
    /*color:#FDF3E7;*/
    /*background-color:#31485e;*/
    font-size:13px;
    outline:0;
    /*border-color:#FDF3E7;*/
    border:none !important;
    -moz-outline-style: none;
}
    
    /* Default State*/
    .content-leftpan-item:link {
        color: #FDF3E7;
        background-color:#31485e;
    }
    
    /* visited link */
    /*.content-leftpan-item:visited {*/
    /*    color: #FDF3E7;*/
    /*    background-color:#31485e;*/
    /*}*/
    
    /* mouse over link */
    .content-leftpan-item:hover {
        color: #FFFFFF;
        font-weight:bold;
        background-color:#31485e;
    }
    
    /* selected link */
    .content-leftpan-item.list-group-item.active{
        /*color: #FFFFFF;*/
        color: #333;
        font-weight:bold;
        /*font-size-adjust:0.8;*/
        /*background-color:#2c4156;*/
        background-color:#FDFDFF;  
    }
    
    .page-link{
        color: #FDF3E7;
        background-color:#31485e;
    }


    .page-item.active .page-link{
        color: #31485e;
        background-color:#fff;
        border-color:#fff;
    }
    .page-item:hover .page-link{
        color: #31485e;
        background-color:#fff;
        border-color:#fff;
    }


.content-content{
    padding-right:0px;
    background-color: #fdfdff;
    color:#333;
    /*height:100vh;*/
    padding-left:247px;
    z-index:0;
}

#content-home-scroll{
    height:100vh;
    overflow-y: scroll; 
    position:relative;
    text-align:justify;
    /*min-width:400px;*/
    padding-top:40px;
    padding-left:40px;
    padding-bottom:40px;
    padding-right:40px;
}
/*Small devices (landscape phones, 576px and up)*/
/*sm*/
@media (min-width: 576px) { 
    
}


/*============================================================================*/
/*        ABOVE IS MOBILE             BELOW IS DESKTOP                         */
/*============================================================================*/

/*Medium devices (tablets, 768px and up)*/
/*md*/
@media (min-width: 768px) { 

}

/*Large devices (desktops, 992px and up)*/
/*lg*/
@media (min-width: 992px) { 
    
}

/*Extra large devices (large desktops, 1200px and up)*/
/*xl*/
@media (min-width: 1200px) {  
    
}