{# handbook/templates/content/home.html_ #}
<div class="container-fluid my-subpage-container">
    <div class="row my-subpage-row">
        
    <!--START LEFT PANEL-->
        <div class="my-leftpan2-container">
            {% block layout2_leftpan2 %} {% endblock %}
        </div>
    <!--END LEFT PANEL-->
        
    <!--START CONTENT-->
        <div class="col-sm-12 my-subpage-content-container">
            {% block layout2_content %} {% endblock %}
        </div>
    <!--END CONTENT-->
    </div>
</div>