{# handbook/templates/content/home.html_ #}

{% extends "layout-sub.html" %}

{% block layout2_leftpan2_id %} 
    "id_home_leftpan2"
{% endblock %}

{% block layout2_leftpan2_id_target %} 
    "#id_home_leftpan2"
{% endblock %}

{% block layout2_leftpan2_id_target2 %} 
    "id_home_leftpan2"
{% endblock %}

{% block layout2_leftpan2 %}

<!--BEFORE-->
        <!--START PAGINATION-->
        <!--<nav>-->
        <!--  <ul class="pagination pagination-sm my-leftpan2-pagination">-->
        <!--    <li class="page-item">-->
        <!--      <a class="page-link" href="#">-->
        <!--        <span aria-hidden="true">&laquo;</span>-->
        <!--        <span class="sr-only">Previous</span>-->
        <!--      </a>-->
        <!--    </li>-->
        <!--    <li class="page-item active"><a class="page-link" href="#">1</a></li>-->
        <!--    <li class="page-item"><a class="page-link" href="#">2</a></li>-->
        <!--    <li class="page-item"><a class="page-link" href="#">3</a></li>-->
        <!--    <li class="page-item"><a class="page-link" href="#">4</a></li>-->
        <!--    <li class="page-item"><a class="page-link" href="#">5</a></li>-->
        <!--    <li class="page-item">-->
        <!--      <a class="page-link" href="#">-->
        <!--        <span aria-hidden="true">&raquo;</span>-->
        <!--        <span class="sr-only">Next</span>-->
        <!--      </a>-->
        <!--    </li>-->
        <!--  </ul>-->
        <!--</nav>-->
        <!--END PAGINATION-->
        
        <!--START ITEM LIST-->
        <!--<div id="id-home-leftpan2-list" class="list-group list-group-flush my-leftpan2-menu">-->
        <!--  <a class="list-group-item list-group-item-action my-leftpan2-tab" href="#id-home-content-post-1">January 2018 update</a>-->
        <!--  <a class="list-group-item list-group-item-action my-leftpan2-tab" href="#id-home-content-post-2">See you next year!</a>-->
        <!--  <a class="list-group-item list-group-item-action my-leftpan2-tab" href="#id-home-content-post-3">December 2017 update</a>-->
        <!--  <a class="list-group-item list-group-item-action my-leftpan2-tab" href="#id-home-content-post-4">Need some help!</a>-->
        <!--  <a class="list-group-item list-group-item-action my-leftpan2-tab" href="#id-home-content-post-5">Regarding recent issues</a>-->
        <!--  <a class="list-group-item list-group-item-action my-leftpan2-tab" href="#id-home-content-post-6">November 2017 update</a>-->
        <!--  <a class="list-group-item list-group-item-action my-leftpan2-tab" href="#id-home-content-post-7">Version 3.1 release</a>-->
        <!--  <a class="list-group-item list-group-item-action my-leftpan2-tab" href="#id-home-content-post-8">October 2017 release</a>-->
        <!--  <a class="list-group-item list-group-item-action my-leftpan2-tab" href="#id-home-content-post-9">Hot fix 3.0.5</a>-->
        <!--  <a class="list-group-item list-group-item-action my-leftpan2-tab" href="#id-home-content-post-10">Hot fix 3.0.4</a>-->
        <!--</div>-->
        <!--END ITEM LIST-->
<!--END OF BEFORE-->

        <!--START ITEM LIST-->
        <div class="container-fluid">
            <div class="row">
                <div class="btn-group col-sm-12">
                    <button type="button" class="btn btn-white dropdown-toggle btn-block"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Recent posts</button>
                    <div id="id-home-leftpan2-list" class="dropdown-menu my-leftpan2-menu">
                      <a class=" dropdown-item" href="#id-home-content-post-1">January 2018 update</a>
                      <a class=" dropdown-item" href="#id-home-content-post-2">See you next year!</a>
                      <a class=" dropdown-item" href="#id-home-content-post-3">December 2017 update</a>
                      <a class=" dropdown-item" href="#id-home-content-post-4">Need some help!</a>
                      <a class=" dropdown-item" href="#id-home-content-post-5">Regarding recent issues</a>
                      <a class=" dropdown-item" href="#id-home-content-post-6">November 2017 update</a>
                      <a class=" dropdown-item" href="#id-home-content-post-7">This is a very very very very long title for a post for development purposes</a>
                      <a class=" dropdown-item" href="#id-home-content-post-8">October 2017 release</a>
                      <a class=" dropdown-item" href="#id-home-content-post-9">Hot fix 3.0.5</a>
                      <a class=" dropdown-item" href="#id-home-content-post-10">Hot fix 3.0.4</a>
                      <a class=" dropdown-item" href="#id-home-content-post-11">Example title so i get 50</a>
                      <a class=" dropdown-item" href="#id-home-content-post-11">Example title so i get 50</a>
                      <a class=" dropdown-item" href="#id-home-content-post-11">Example title so i get 50</a>
                      <a class=" dropdown-item" href="#id-home-content-post-11">Example title so i get 50</a>
                      <a class=" dropdown-item" href="#id-home-content-post-11">Example title so i get 50</a>
                      <a class=" dropdown-item" href="#id-home-content-post-11">Example title so i get 50</a>
                      <a class=" dropdown-item" href="#id-home-content-post-11">Example title so i get 50</a>
                      <a class=" dropdown-item" href="#id-home-content-post-11">Example title so i get 50</a>
                      <a class=" dropdown-item" href="#id-home-content-post-11">Example title so i get 50</a>
                      <a class=" dropdown-item" href="#id-home-content-post-11">Example title so i get 50</a>
                      <a class=" dropdown-item" href="#id-home-content-post-11">Example title so i get 50</a>
                      <a class=" dropdown-item" href="#id-home-content-post-11">Example title so i get 50</a>
                      <a class=" dropdown-item" href="#id-home-content-post-11">Example title so i get 50</a>
                      <a class=" dropdown-item" href="#id-home-content-post-11">Example title so i get 50</a>
                      <a class=" dropdown-item" href="#id-home-content-post-11">Example title so i get 50</a>
                      <a class=" dropdown-item" href="#id-home-content-post-11">Example title so i get 50</a>
                      <a class=" dropdown-item" href="#id-home-content-post-11">Example title so i get 50</a>
                      <a class=" dropdown-item" href="#id-home-content-post-11">Example title so i get 50</a>
                      <a class=" dropdown-item" href="#id-home-content-post-11">Example title so i get 50</a>
                      <a class=" dropdown-item" href="#id-home-content-post-11">Example title so i get 50</a>
                      <a class=" dropdown-item" href="#id-home-content-post-11">Example title so i get 50</a>
                      <a class=" dropdown-item" href="#id-home-content-post-11">Example title so i get 50</a>
                      <a class=" dropdown-item" href="#id-home-content-post-11">Example title so i get 50</a>
                      <a class=" dropdown-item" href="#id-home-content-post-11">Example title so i get 50</a>
                      <a class=" dropdown-item" href="#id-home-content-post-11">Example title so i get 50</a>
                      <a class=" dropdown-item" href="#id-home-content-post-11">Example title so i get 50</a>
                      <a class=" dropdown-item" href="#id-home-content-post-11">Example title so i get 50</a>
                      <a class=" dropdown-item" href="#id-home-content-post-11">Example title so i get 50</a>
                      <a class=" dropdown-item" href="#id-home-content-post-11">Example title so i get 50</a>
                      <a class=" dropdown-item" href="#id-home-content-post-11">Example title so i get 50</a>
                      <a class=" dropdown-item" href="#id-home-content-post-11">Example title so i get 50</a>
                      <a class=" dropdown-item" href="#id-home-content-post-11">Example title so i get 50</a>
                      <a class=" dropdown-item" href="#id-home-content-post-11">Example title so i get 50</a>
                      <a class=" dropdown-item" href="#id-home-content-post-11">Example title so i get 50</a>
                      <a class=" dropdown-item" href="#id-home-content-post-11">Example title so i get 50</a>
                      <a class=" dropdown-item" href="#id-home-content-post-11">Example title so i get 50</a>
                      <a class=" dropdown-item" href="#id-home-content-post-11">Example title so i get 50</a>
                      <a class=" dropdown-item" href="#id-home-content-post-11">Example title so i get 50</a>
                      <a class=" dropdown-item" href="#id-home-content-post-11">Example title so i get 50</a>
                      <a class=" dropdown-item" href="#id-home-content-post-11">Example title so i get 50</a>
                    </div>
                </div>
                <div class="col-sm-12">
                    <hr>
                    <span>Tags</span>
                    <ul>
                        <li><a class="my-leftpan2-tab" href="/#">general (24)</a></li>
                        <li><a class="my-leftpan2-tab" href="/#">announcement (11)</a></li>
                        <li><a class="my-leftpan2-tab" href="/#">memo (1)</a></li>
                        <li><a class="my-leftpan2-tab" href="/#">development (7)</a></li>
                        <li><a class="my-leftpan2-tab" href="/#">release (4)</a></li>
                        <li><a class="my-leftpan2-tab" href="/#">project a (3)</a></li>
                        <li><a class="my-leftpan2-tab" href="/#">project b (10)</a></li>
                    </ul>
                </div>
                
                <div class="col-sm-12">
                    <hr>
                    <span>Time</span>
                </div>
                
                
                <div class="btn-group col-sm-12">
                    <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split my-leftpan2-tab" data-toggle="collapse" data-target="#2018" aria-controls="2018" aria-haspopup="true" aria-expanded="false">
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <button class="btn btn-secondary btn-sm my-leftpan2-tab" type="button" >
                        2018
                    </button>
                </div>
                <div class="collapse col-sm-12" id="2018">
                    <ul>
                        <li><a class="my-leftpan2-tab d-flex justify-content-between" href="/#">February (2)</a></li>
                        <li><a class="my-leftpan2-tab d-flex justify-content-between" href="/#">January (0)</a></li>
                    </ul>
                </div>
                
                <div class="btn-group col-sm-12">
                    <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split my-leftpan2-tab" data-toggle="collapse" data-target="#2017" aria-controls="2017" aria-haspopup="true" aria-expanded="false">
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <button class="btn btn-secondary btn-sm my-leftpan2-tab" type="button" >
                        2017
                    </button>
                </div>
                <div class="collapse col-sm-12" id="2017">
                    <ul>
                        <li><a class="my-leftpan2-tab" href="/#">December (5)    </a></li>
                        <li><a class="my-leftpan2-tab" href="/#">November (12)    </a></li>
                        <li><a class="my-leftpan2-tab" href="/#">October (8)     </a></li>
                        <li><a class="my-leftpan2-tab" href="/#">September (2)   </a></li>
                        <li><a class="my-leftpan2-tab" href="/#">August (3)      </a></li>
                        <li><a class="my-leftpan2-tab" href="/#">July (11)        </a></li>
                        <li><a class="my-leftpan2-tab" href="/#">June (3)        </a></li>
                        <li><a class="my-leftpan2-tab" href="/#">May (1)         </a></li>
                        <li><a class="my-leftpan2-tab" href="/#">April (2)       </a></li>
                        <li><a class="my-leftpan2-tab" href="/#">March (5)       </a></li>
                        <li><a class="my-leftpan2-tab" href="/#">February (1)    </a></li>
                        <li><a class="my-leftpan2-tab" href="/#">January (3)     </a></li>
                    </ul>
                </div>

                
            </div>
        </div>
        <!--END ITEM LIST-->


 {% endblock %}
    
<!--START CONTENT-->
 {% block layout2_content %} 
        <div class="container-fluid" id="id-home-content-scroll" data-spy="scroll" data-target="#id-home-leftpan2-list" data-offset="80">
            <div class="row">
                
                <div class="card rounded-0 my-home-content-post-container" id="id-home-content-post-1">
                  
                    <div class="card-header" style="padding-top: 1.75rem;">
                        <h1><a href="#">January 2018 update</a></h1>
                        <span class="badge badge-success">Routine Update</span>
                        <span class="badge badge-secondary">January 25th 2018</span>
                    </div>
                    
                    <div class="card-body">
                        <h5 class="card-title">One liner thats informative here.</h5>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras porttitor lacinia risus. Donec vehicula leo ac rhoncus lobortis. Phasellus ac varius eros. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed ligula lorem, venenatis sed dui non, suscipit egestas arcu. Suspendisse tempor turpis sodales metus facilisis hendrerit. Ut condimentum at enim ut vestibulum. Etiam a ornare mauris. Sed quis lectus mollis leo elementum vestibulum et quis lectus. Curabitur eget sem rhoncus, accumsan lacus laoreet, commodo risus. Etiam quis nisi bibendum, pellentesque orci et, semper ligula.
                        </p>
                        <br>
                        <!--<h3 class="card-title">Suddenly a big Title is okay too.</h3>-->
                        <p class="card-text">
                            Nam blandit magna vel purus lacinia elementum. Integer mattis egestas massa. Aenean lacus mi, vulputate faucibus blandit dignissim, egestas non orci. Fusce tempus quam est, non tempor sem tincidunt nec. Nam bibendum, nulla sit amet malesuada dictum, ante purus finibus lorem, rhoncus interdum odio nisi eget nunc. Aliquam porta dolor velit, ac faucibus est dapibus id. Aenean est ante, efficitur ultricies interdum et, laoreet at augue. Donec at tristique risus. Sed tempor eros lobortis condimentum tempus. Nullam vitae tellus lorem. Vestibulum venenatis convallis nibh nec rhoncus. Morbi pharetra, metus eu pretium placerat, dolor metus luctus augue, eu imperdiet dui odio at ipsum. Etiam consectetur sagittis tincidunt. Donec tincidunt maximus pretium. Vestibulum rhoncus nisl eu tortor ornare, at rutrum mauris volutpat.
                        </p>
                        <br>
                        <h3 class="card-title">Relevant posts</h3>
                        <ul>
                            <li>This is if the post is about something on other websites : <a href="#">https://linkto.anotherwebsite.com</a></li>
                            <li>Maybe to my own website as well? : <a href="#">https://linkto.mywebsite.com</a></li>
                        </ul>
                        <br>    
                    </div>
                </div>
                
                
                <div class="card rounded-0 my-home-content-post-container" id="id-home-content-post-2">
                  
                  <div class="card-header" style="padding-top: 1.75rem;">
                    <h1><a href="#">See you next year!</a></h1>
                    <span class="badge badge-danger">Fluff</span> 
                    <span class="badge badge-primary">Update</span>
                    <span class="badge badge-secondary">January 1st 2018</span>
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">See you in 2019</h5>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras porttitor lacinia risus. Donec vehicula leo ac rhoncus lobortis. Phasellus ac varius eros. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed ligula lorem, venenatis sed dui non, suscipit egestas arcu. Suspendisse tempor turpis sodales metus facilisis hendrerit. Ut condimentum at enim ut vestibulum. Etiam a ornare mauris. Sed quis lectus mollis leo elementum vestibulum et quis lectus. Curabitur eget sem rhoncus, accumsan lacus laoreet, commodo risus. Etiam quis nisi bibendum, pellentesque orci et, semper ligula.
                    </p>
                    <br>
                  </div>
                </div>
                
                
                <div class="card rounded-0 my-home-content-post-container" id="id-home-content-post-3">
                  
                    <div class="card-header" style="padding-top: 1.75rem;">
                        <h1><a href="#">{% dbresult["title"] %}</a></h1>
                        <span class="badge badge-success">Routine Update</span>
                        <span class="badge badge-secondary">January 25th 2018</span>
                    </div>
                    
                    <div class="card-body">
                        <h5 class="card-title">One liner thats informative here.</h5>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras porttitor lacinia risus. Donec vehicula leo ac rhoncus lobortis. Phasellus ac varius eros. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed ligula lorem, venenatis sed dui non, suscipit egestas arcu. Suspendisse tempor turpis sodales metus facilisis hendrerit. Ut condimentum at enim ut vestibulum. Etiam a ornare mauris. Sed quis lectus mollis leo elementum vestibulum et quis lectus. Curabitur eget sem rhoncus, accumsan lacus laoreet, commodo risus. Etiam quis nisi bibendum, pellentesque orci et, semper ligula.
                        </p>
                        <br>
                        <!--<h3 class="card-title">Suddenly a big Title is okay too.</h3>-->
                        <p class="card-text">
                            Nam blandit magna vel purus lacinia elementum. Integer mattis egestas massa. Aenean lacus mi, vulputate faucibus blandit dignissim, egestas non orci. Fusce tempus quam est, non tempor sem tincidunt nec. Nam bibendum, nulla sit amet malesuada dictum, ante purus finibus lorem, rhoncus interdum odio nisi eget nunc. Aliquam porta dolor velit, ac faucibus est dapibus id. Aenean est ante, efficitur ultricies interdum et, laoreet at augue. Donec at tristique risus. Sed tempor eros lobortis condimentum tempus. Nullam vitae tellus lorem. Vestibulum venenatis convallis nibh nec rhoncus. Morbi pharetra, metus eu pretium placerat, dolor metus luctus augue, eu imperdiet dui odio at ipsum. Etiam consectetur sagittis tincidunt. Donec tincidunt maximus pretium. Vestibulum rhoncus nisl eu tortor ornare, at rutrum mauris volutpat.
                        </p>
                        <br>
                        <h3 class="card-title">Relevant posts</h3>
                        <ul>
                            <li>This is if the post is about something on other websites : <a href="#">https://linkto.anotherwebsite.com</a></li>
                            <li>Maybe to my own website as well? : <a href="#">https://linkto.mywebsite.com</a></li>
                        </ul>
                        <br>    
                    </div>
                </div>
                
                
                
                <div id="id-home-content-post-4" class="col-sm-12 my-home-content-post-container">
                    <h3>Item 4</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras porttitor lacinia risus. Donec vehicula leo ac rhoncus lobortis. Phasellus ac varius eros. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed ligula lorem, venenatis sed dui non, suscipit egestas arcu. Suspendisse tempor turpis sodales metus facilisis hendrerit. Ut condimentum at enim ut vestibulum. Etiam a ornare mauris. Sed quis lectus mollis leo elementum vestibulum et quis lectus. Curabitur eget sem rhoncus, accumsan lacus laoreet, commodo risus. Etiam quis nisi bibendum, pellentesque orci et, semper ligula.
                        
                        Nam blandit magna vel purus lacinia elementum. Integer mattis egestas massa. Aenean lacus mi, vulputate faucibus blandit dignissim, egestas non orci. Fusce tempus quam est, non tempor sem tincidunt nec. Nam bibendum, nulla sit amet malesuada dictum, ante purus finibus lorem, rhoncus interdum odio nisi eget nunc. Aliquam porta dolor velit, ac faucibus est dapibus id. Aenean est ante, efficitur ultricies interdum et, laoreet at augue. Donec at tristique risus. Sed tempor eros lobortis condimentum tempus. Nullam vitae tellus lorem. Vestibulum venenatis convallis nibh nec rhoncus. Morbi pharetra, metus eu pretium placerat, dolor metus luctus augue, eu imperdiet dui odio at ipsum. Etiam consectetur sagittis tincidunt. Donec tincidunt maximus pretium. Vestibulum rhoncus nisl eu tortor ornare, at rutrum mauris volutpat.
                    
                
                    </p>
                </div>
                <div id="id-home-content-post-5" class="col-sm-12 my-home-content-post-container">
                    <h3>Item 5</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras porttitor lacinia risus. Donec vehicula leo ac rhoncus lobortis. Phasellus ac varius eros. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed ligula lorem, venenatis sed dui non, suscipit egestas arcu. Suspendisse tempor turpis sodales metus facilisis hendrerit. Ut condimentum at enim ut vestibulum. Etiam a ornare mauris. Sed quis lectus mollis leo elementum vestibulum et quis lectus. Curabitur eget sem rhoncus, accumsan lacus laoreet, commodo risus. Etiam quis nisi bibendum, pellentesque orci et, semper ligula.
                        
                        Nam blandit magna vel purus lacinia elementum. Integer mattis egestas massa. Aenean lacus mi, vulputate faucibus blandit dignissim, egestas non orci. Fusce tempus quam est, non tempor sem tincidunt nec. Nam bibendum, nulla sit amet malesuada dictum, ante purus finibus lorem, rhoncus interdum odio nisi eget nunc. Aliquam porta dolor velit, ac faucibus est dapibus id. Aenean est ante, efficitur ultricies interdum et, laoreet at augue. Donec at tristique risus. Sed tempor eros lobortis condimentum tempus. Nullam vitae tellus lorem. Vestibulum venenatis convallis nibh nec rhoncus. Morbi pharetra, metus eu pretium placerat, dolor metus luctus augue, eu imperdiet dui odio at ipsum. Etiam consectetur sagittis tincidunt. Donec tincidunt maximus pretium. Vestibulum rhoncus nisl eu tortor ornare, at rutrum mauris volutpat.
                    
                
                    </p>
                </div>
                <div id="id-home-content-post-6" class="col-sm-12 my-home-content-post-container">
                    <h3>Item 6</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras porttitor lacinia risus. Donec vehicula leo ac rhoncus lobortis. Phasellus ac varius eros. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed ligula lorem, venenatis sed dui non, suscipit egestas arcu. Suspendisse tempor turpis sodales metus facilisis hendrerit. Ut condimentum at enim ut vestibulum. Etiam a ornare mauris. Sed quis lectus mollis leo elementum vestibulum et quis lectus. Curabitur eget sem rhoncus, accumsan lacus laoreet, commodo risus. Etiam quis nisi bibendum, pellentesque orci et, semper ligula.
                        
                        Nam blandit magna vel purus lacinia elementum. Integer mattis egestas massa. Aenean lacus mi, vulputate faucibus blandit dignissim, egestas non orci. Fusce tempus quam est, non tempor sem tincidunt nec. Nam bibendum, nulla sit amet malesuada dictum, ante purus finibus lorem, rhoncus interdum odio nisi eget nunc. Aliquam porta dolor velit, ac faucibus est dapibus id. Aenean est ante, efficitur ultricies interdum et, laoreet at augue. Donec at tristique risus. Sed tempor eros lobortis condimentum tempus. Nullam vitae tellus lorem. Vestibulum venenatis convallis nibh nec rhoncus. Morbi pharetra, metus eu pretium placerat, dolor metus luctus augue, eu imperdiet dui odio at ipsum. Etiam consectetur sagittis tincidunt. Donec tincidunt maximus pretium. Vestibulum rhoncus nisl eu tortor ornare, at rutrum mauris volutpat.
                    
                    </p>
                </div>
                <div id="id-home-content-post-7" class="col-sm-12 my-home-content-post-container">
                    <h3>Item 7</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras porttitor lacinia risus. Donec vehicula leo ac rhoncus lobortis. Phasellus ac varius eros. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed ligula lorem, venenatis sed dui non, suscipit egestas arcu. Suspendisse tempor turpis sodales metus facilisis hendrerit. Ut condimentum at enim ut vestibulum. Etiam a ornare mauris. Sed quis lectus mollis leo elementum vestibulum et quis lectus. Curabitur eget sem rhoncus, accumsan lacus laoreet, commodo risus. Etiam quis nisi bibendum, pellentesque orci et, semper ligula.
                        
                        Nam blandit magna vel purus lacinia elementum. Integer mattis egestas massa. Aenean lacus mi, vulputate faucibus blandit dignissim, egestas non orci. Fusce tempus quam est, non tempor sem tincidunt nec. Nam bibendum, nulla sit amet malesuada dictum, ante purus finibus lorem, rhoncus interdum odio nisi eget nunc. Aliquam porta dolor velit, ac faucibus est dapibus id. Aenean est ante, efficitur ultricies interdum et, laoreet at augue. Donec at tristique risus. Sed tempor eros lobortis condimentum tempus. Nullam vitae tellus lorem. Vestibulum venenatis convallis nibh nec rhoncus. Morbi pharetra, metus eu pretium placerat, dolor metus luctus augue, eu imperdiet dui odio at ipsum. Etiam consectetur sagittis tincidunt. Donec tincidunt maximus pretium. Vestibulum rhoncus nisl eu tortor ornare, at rutrum mauris volutpat.
                
                    </p>
                </div>
                <div id="id-home-content-post-8" class="col-sm-12 my-home-content-post-container">
                    <h3>Item 8</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras porttitor lacinia risus. Donec vehicula leo ac rhoncus lobortis. Phasellus ac varius eros. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed ligula lorem, venenatis sed dui non, suscipit egestas arcu. Suspendisse tempor turpis sodales metus facilisis hendrerit. Ut condimentum at enim ut vestibulum. Etiam a ornare mauris. Sed quis lectus mollis leo elementum vestibulum et quis lectus. Curabitur eget sem rhoncus, accumsan lacus laoreet, commodo risus. Etiam quis nisi bibendum, pellentesque orci et, semper ligula.
                        
                        Nam blandit magna vel purus lacinia elementum. Integer mattis egestas massa. Aenean lacus mi, vulputate faucibus blandit dignissim, egestas non orci. Fusce tempus quam est, non tempor sem tincidunt nec. Nam bibendum, nulla sit amet malesuada dictum, ante purus finibus lorem, rhoncus interdum odio nisi eget nunc. Aliquam porta dolor velit, ac faucibus est dapibus id. Aenean est ante, efficitur ultricies interdum et, laoreet at augue. Donec at tristique risus. Sed tempor eros lobortis condimentum tempus. Nullam vitae tellus lorem. Vestibulum venenatis convallis nibh nec rhoncus. Morbi pharetra, metus eu pretium placerat, dolor metus luctus augue, eu imperdiet dui odio at ipsum. Etiam consectetur sagittis tincidunt. Donec tincidunt maximus pretium. Vestibulum rhoncus nisl eu tortor ornare, at rutrum mauris volutpat.
                    
                    </p>
                </div>
                <div id="id-home-content-post-9" class="col-sm-12 my-home-content-post-container">
                    <h3>Item 9</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras porttitor lacinia risus. Donec vehicula leo ac rhoncus lobortis. Phasellus ac varius eros. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed ligula lorem, venenatis sed dui non, suscipit egestas arcu. Suspendisse tempor turpis sodales metus facilisis hendrerit. Ut condimentum at enim ut vestibulum. Etiam a ornare mauris. Sed quis lectus mollis leo elementum vestibulum et quis lectus. Curabitur eget sem rhoncus, accumsan lacus laoreet, commodo risus. Etiam quis nisi bibendum, pellentesque orci et, semper ligula.
                        
                        Nam blandit magna vel purus lacinia elementum. Integer mattis egestas massa. Aenean lacus mi, vulputate faucibus blandit dignissim, egestas non orci. Fusce tempus quam est, non tempor sem tincidunt nec. Nam bibendum, nulla sit amet malesuada dictum, ante purus finibus lorem, rhoncus interdum odio nisi eget nunc. Aliquam porta dolor velit, ac faucibus est dapibus id. Aenean est ante, efficitur ultricies interdum et, laoreet at augue. Donec at tristique risus. Sed tempor eros lobortis condimentum tempus. Nullam vitae tellus lorem. Vestibulum venenatis convallis nibh nec rhoncus. Morbi pharetra, metus eu pretium placerat, dolor metus luctus augue, eu imperdiet dui odio at ipsum. Etiam consectetur sagittis tincidunt. Donec tincidunt maximus pretium. Vestibulum rhoncus nisl eu tortor ornare, at rutrum mauris volutpat.
                    </p>
                </div>
                <div id="id-home-content-post-10" class="col-sm-12 my-home-content-post-container">
                    <h3>Item 10</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras porttitor lacinia risus. Donec vehicula leo ac rhoncus lobortis. Phasellus ac varius eros. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed ligula lorem, venenatis sed dui non, suscipit egestas arcu. Suspendisse tempor turpis sodales metus facilisis hendrerit. Ut condimentum at enim ut vestibulum. Etiam a ornare mauris. Sed quis lectus mollis leo elementum vestibulum et quis lectus. Curabitur eget sem rhoncus, accumsan lacus laoreet, commodo risus. Etiam quis nisi bibendum, pellentesque orci et, semper ligula.
                        
                        Nam blandit magna vel purus lacinia elementum. Integer mattis egestas massa. Aenean lacus mi, vulputate faucibus blandit dignissim, egestas non orci. Fusce tempus quam est, non tempor sem tincidunt nec. Nam bibendum, nulla sit amet malesuada dictum, ante purus finibus lorem, rhoncus interdum odio nisi eget nunc. Aliquam porta dolor velit, ac faucibus est dapibus id. Aenean est ante, efficitur ultricies interdum et, laoreet at augue. Donec at tristique risus. Sed tempor eros lobortis condimentum tempus. Nullam vitae tellus lorem. Vestibulum venenatis convallis nibh nec rhoncus. Morbi pharetra, metus eu pretium placerat, dolor metus luctus augue, eu imperdiet dui odio at ipsum. Etiam consectetur sagittis tincidunt. Donec tincidunt maximus pretium. Vestibulum rhoncus nisl eu tortor ornare, at rutrum mauris volutpat.
                    </p>
                </div>
                
                
            </div>
        </div>
        
{% endblock %}