{# handbook/templates/content/projects.html_ #}

{% extends "layout-sub.html" %}

{% block layout2_leftpan2_id %} 
    "id_projects_leftpan2"
{% endblock %}

{% block layout2_leftpan2_id_target %} 
    "#id_projects_leftpan2"
{% endblock %}

{% block layout2_leftpan2_id_target2 %} 
    "id_projects_leftpan2"
{% endblock %}

{% block layout2_leftpan2 %}


        <div class="container-fluid">
            <div class="row">
                <span class="col-sm-12">
                    project leftpan2
                </span>
            </div>
        </div>


 {% endblock %}
    
 {% block layout2_content %} 

        
{% endblock %}